.page-content(id="edu")
	div(class="row-box row-3 col-parent")
		div(class="col-box col-2")
			.panel
				h1 University		
				p Bachelor of Engineering
				p Mechanical Engineering Specialization 
				p Monash University, 2013
				p 1st Class Honours
				p Weighted Average Mark of 77.94 / 100	
		div(class="col-box col-2")
			.panel
				h1 High School 
				p Scotch College
				p Class of 2008 
				p Tertiary Enter Score of 98.40 / 99.95		
	div(class="row-box row-1")
		.panel
			h1 Online Courses via Coursera
			.edu-item
				div(class="col-parent edu-item")
					div(class="col-box col-3") Principles of Computing
					div(class="col-box col-3") Rice University
					div(class="col-box col-3") 9 weeks
				p.edu-blurb.
					This course provided a broad introduction to computer science concepts such as recursion, algorithms, graphs and data structures, as well as software development practices such as unit-testing, OOP and style guidelines.
				
			.edu-item
				div(class="col-parent edu-item")
					div(class="col-box col-3") Algorithms
					div(class="col-box col-3") Stanford University
					div(class="col-box col-3") 6 weeks
				p.edu-blurb.
					This course performed a review and analysis of computer science’s’ “greatest-hits” algorithms. It covered topics such as big Oh notation, the master method, sorting,  graphs and hash tables.
		
			.edu-item
				div(class="col-parent edu-item")
					div(class="col-box col-3") Probability
					div(class="col-box col-3") University of Pennsylvania
					div(class="col-box col-3") 12 weeks

			.edu-item
				div(class="col-parent edu-item")
					div(class="col-box col-3") Machine Learning
					div(class="col-box col-3") Stanford University
					div(class="col-box col-3") Ongoing
				
			.edu-item
				div(class="col-parent edu-item")
					div(class="col-box col-3") Discrete Optimization
					div(class="col-box col-3") Melbourne University
					div(class="col-box col-3") Ongoing