doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type='text/css', href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800")
		link(rel="stylesheet", type='text/css', href="https://fonts.googleapis.com/css?family=Oswald")
		link(rel="stylesheet", href="{{ url_for('resume.static',filename='css/reset.css') }}")
		link(rel="stylesheet", href="{{ url_for('resume.static',filename='css/style.css') }}")
		title Matt's Resume
	body
		.header
			.header-wrapper
				a(href="/")
					.banner Matthew Segal Resume
				nav.navbar-container
					ul.navbar
						li(id="btn-profile") Profile
						li(id="btn-edu") Education
						li(id="btn-work") Work
						li(id="btn-skills") Skills
						li(id="btn-projects") Projects
						li(id="btn-contact") Contact
		.main
			.page-content-wrapper.
				{% include "profile.html" %}
				{% include "education.html" %}
				{% include "work.html" %}
				{% include "skills.html" %}
				{% include "projects.html" %}
				{% include "contact.html" %}
				
		//- {% include 'profile.html' %}
		script(src="{{ url_for('resume.static',filename='js/jquery-2.1.4.js') }}")
		script.
			// when bg image loaded, swap out full image
			window.onload = function loadSharpImages() {
				// Quit early if older browser (e.g. IE 8).
				if (!('addEventListener' in window)) return

				// load background
				var img = new Image();
				var bgSrc = "{{ url_for('resume.static',filename='img/bg.jpg') }}"
				var div = document.getElementsByTagName("body")[0]
				img.onload = function() {
					div.className = 'bg-loaded'
				}
				img.src = bgSrc

				// load headshot image
				img2 = new Image();
				var hsSrc = "{{url_for('resume.static',filename='img/headshot.jpg')}}"
				var div2 = document.getElementsByClassName("headshot-image")[0]
				var div3 = document.getElementById("headshot-panel")
				img2.onload = function() {
					div3.className += ' headshot-panel-loaded'
					div2.className += ' headshot-loaded'
				}
				img2.src = hsSrc
			};
		script(src="{{ url_for('resume.static',filename='js/main.js') }}")