.page-content(id="skills")
	ul.nav-column
		li(class="nav-col-btn", id='btn-soft')
			|Soft
			br
			|Skills
		li(class="nav-col-btn", id='btn-python') 
			|Python
		li(class="nav-col-btn", id='btn-web-dev') 
			|Web
			br
			|Dev
		li(class="nav-col-btn", id='btn-misc')
			|Other
			br
			|Technical
			br
			|Skills
	.panel(id="soft")
		h1 Soft Skills
		.edu-item
			.edu-item.
				Customer Service		
			p.edu-blurb.
				While working I have engaged with a variety of customers, including bar patrons, restaurant guests and ski resort visitors. In my role as an acoustic engineer I have presented technical acoustic information to non-technical stakeholders such as architects and property developers.
		br
		.edu-item
			.edu-item.
				Learning	
			p.edu-blurb.
				I am actively and enthusiastically learning more about web design and development, as well as software development in general. I am able to autonomously pick up new concepts and technology and apply them to the project at hand. 
	.panel(id="python")
		h1 Python
		.edu-item
			.edu-item.
				Web Server			
			p.edu-blurb.
				I have used Flask to run a local server on my machine for development and have deployed it to a live webserver (mattsegal.xyz). Using Flask I have implemented HTML templating and a RESTful API
		br
		.edu-item
			.edu-item.
				Data Analysis	
			p.edu-blurb.
				I have used the Numerical Python (NumPy) and Python for Data Analysis (pandas) modules
		br
		.edu-item
			.edu-item.
				Unit testing
			p.edu-blurb.
				I use the py.test unit-testing framework
		br
		.edu-item
			.edu-item.
				Graphical User Interfaces 
			p.edu-blurb.
				I have used the Tkinter GUI module in personal projects
		br
		.edu-item
			.edu-item.
				Online Course Assignments		
			p.edu-blurb
				|I have used Python to complete online auto-graded assigments. In these assignments I have implemented algorithms such as depth-first-search, MergeSort and minmax. I have also use |Python to attack 
				a(href="https://github.com/MattSegal/discrete-optimisation/tree/master/knapsack%20problem") NP-hard problems such as the knapsack problem
				| and the graph coloring problem.
	.panel(id="web-dev")
		h1 Web Development
		.edu-item
			.edu-item.
				JavaScript and jQuery	
			p.edu-blurb.
				I can use JavaScript to animate web-pages, render dynamic content and call on back-end APIs with AJAX requests. I can use jQuery to assist with DOM manipulation and Mustache.js to render HTML templates. I find JavaScript to be interesting and flexible and I am keen to keep expanding my competence and knowledge of the language. 
		br
		.edu-item
			.edu-item.
				Web Design	
			p.edu-blurb.
				I am comfortable using HTML/CSS to build a page. I am familliar with using Chrome Developer Tools to inspect and debug page layouts. I have recently started using SASS.
		p
			
	.panel(id="misc")
		h1 Other Technical Skills
		.edu-item
			.edu-item.
				SQL 	
			p.edu-blurb.
				I have used SQL in personal projects to store and access data. I have deployed MySQL on a webserver to store user data for a Flask-based RESTful API.
		br
		.edu-item
			.edu-item.
				Git
			p.edu-blurb.
				I use the git command line to back-up personal project and push them to GitHub.
		br
		.edu-item
			.edu-item.
				Web Server Administration
			p.edu-blurb.
				I host my web projects on a DigitalOcean server  running Ubuntu which I have set up from the Linux command 	line via SSH. To operate the server I have installed and configured Apache2 and uploaded my files via FTP.
		br
		.edu-item
			.edu-item.
				Future Work	
			p.edu-blurb.
				As I continue to learn I will be picking up a front end framework (Angular/Ember/Backbone), expanding my knowledge of mobile friendly content, and adopting more tools to improve my workflow (gulp/jade/yeoman/etc).
