.page-content(id="skills")
	ul.nav-column
		li(class="nav-col-btn", id='btn-soft')
			|Soft
			br
			|Skills
		li(class="nav-col-btn", id='btn-front-end-web-dev') 
			|Front
			br
			|End
		li(class="nav-col-btn", id='btn-back-end-web-dev') 
			|Back
			br
			|End
		li(class="nav-col-btn", id='btn-python') 
			|Python
		li(class="nav-col-btn", id='btn-misc')
			|Other
			br
			|Technical
			br
			|Skills
	.panel(id="soft")
		h1 Soft Skills
		.edu-item
			.edu-item.
				Customer Service		
			p.edu-blurb.
				While working I have engaged with a variety of customers, including bar patrons, restaurant guests and ski resort visitors. 
				In my role as an acoustic engineer I have presented technical acoustic information to non-technical stakeholders such as architects and property developers.
		br
		.edu-item
			.edu-item.
				Learning	
			p.edu-blurb.
				I am actively and enthusiastically learning more about web design and development, as well as software development in general.
				I am interested in improving my skills in both front end web development, back end services, machine learning and computer science in general.
				I am committed to continuously learning in my own time.
				I am able to autonomously pick up new concepts and technology and apply them to the project at hand. 
		br
		.edu-item
			.edu-item.
				Personable	
			p.edu-blurb.
				I am a cool dude
	.panel(id="python")
		h1 Python
		.edu-item
			.edu-item.
				Data Analysis	
			p.edu-blurb.
				I have used the Numerical Python (NumPy) and Python for Data Analysis (pandas) modules to store and manipulate data in my Poker Bot and other applications. 
				I find these tools are great for image manipulation and numerical computing.
		br
		.edu-item
			.edu-item.
				Unit testing
			p.edu-blurb
				|I use the py.test unit-testing framework to keep my python code functional. 
				|I have most recently written tests for my 
				a(href="https://github.com/MattSegal/logistic-regression/blob/master/test_log_reg.py") logistic regression module
				|. 
		br
		.edu-item
			.edu-item.
				Graphical User Interfaces 
			p.edu-blurb.
				I have used the Tkinter GUI module in my Poker Bot and Python Script manager projects.
		br
		.edu-item
			.edu-item.
				Online Course Assignments		
			p.edu-blurb
				|I have used Python to complete online auto-graded assigments. In these assignments I have implemented algorithms such as depth-first-search, MergeSort and minmax. I have also use Python to attack 
				a(href="https://github.com/MattSegal/discrete-optimisation/tree/master/knapsack%20problem") NP-hard problems such as the knapsack problem 
				| and the graph coloring problem.
	.panel(id="front-end-web-dev")
		h1 Front End Web Development
		.edu-item
			.edu-item.
				JavaScript and jQuery	
			p.edu-blurb
				|I can use JavaScript to animate web-pages, render dynamic content and call on back-end APIs with AJAX requests.
				|I can use jQuery to assist with DOM manipulation and Mustache.js to render HTML templates. 
				|I have used JavaScript to create a 
				a(href="/links/") single-page app 
				| and an 
				a(href="/sort/") algorithm visualizer 
				| using a hand-rolled MVC structure.
				|I am happy working in vanilla Javascript, but I look forward to picking up a front end framework such as React. 
		br
		.edu-item
			.edu-item.
				Web Design	
			p.edu-blurb
				|I enjoy designing user-interfaces and I try to make them aesthetic and intuitive.
				|I am comfortable writing a webpage from scratch using HTML and CSS.
				|I currently use SASS and Jade and I love their clean syntax.
				|I have implemented responsive designs in 
				a(href="/links/")  Matt's Links 
				| and my 
				a(href="/") landing page
				|. 	
				|I am familliar with using Chrome Developer Tools to inspect and debug page layouts.
		br
		.edu-item
			.edu-item.
				Meta-Tools	
			p.edu-blurb.
				I use gulp to compile my SASS and Jade into CSS and HTML respectively.
				I enjoy learning new ways to simplify and automate my workflow.
				
		p
	.panel(id="back-end-web-dev")
		h1 Back End Web Development
		.edu-item
			.edu-item.
				Flask (Python)
			p.edu-blurb.
				I have used Flask to run a local server on my machine for development and have deployed it to a live webserver (mattsegal.xyz). 
				Using Flask I have implemented HTML templating and a RESTful API for Matt's Links.
				I like Flask's simplicity and forgiving learning curve.
		.edu-item
			.edu-item.
				Ruby on Rails
			p.edu-blurb.
				I am currently using Rails to implement a back-end app that will allow users to buy someone a gift as a group online. 
				As a relative beginner I find Rails' opinionated configuration to be helpful and the documentation is excellent.
				I can use Rails to create data models, implement controller logic and serve templated views to users. I love the Rails testing framework and I have used it to write unit and integration tests.
		.edu-item
			.edu-item.
				Web Server Administration
			p.edu-blurb.
				I host my web projects on a DigitalOcean server  running Ubuntu which I have set up from the Linux command 	line via SSH. To operate the server I have installed and configured Apache2 and uploaded my files via FTP.	
	.panel(id="misc")
		h1 Other Technical Skills
		.edu-item
			.edu-item.
				SQL 	
			p.edu-blurb.
				I have used SQL in personal projects to store and access data. I have deployed MySQL on a webserver to store user data for a Flask-based RESTful API. 
				I am familiar with SQL syntax.  
		br
		.edu-item
			.edu-item.
				Git
			p.edu-blurb.
				I use the git command line to back-up personal projects and push them to GitHub. I can use branch and merge to keep the master branch of a project stable.
		br
		.edu-item
			.edu-item.
				Future Work	
			p.edu-blurb.
				I am currently developing a Rails app to allow users to buy a gift for a friend as a group. 
				I am also interested in picking up a front-end framework such a React.
				In the long term I endeavour continue my study of both computer science and web development.