.page-content(id='contact')
	div(class="row-box row-2 col-2")
		.panel(class="text-panel")
			h1 Contact Information
			br
			div(class="col-parent edu-item")
				div(class="col-box col-2") Location
				div(class="col-box col-2") South Melbourne
			br
			div(class="col-parent edu-item")
				div(class="col-box col-2") Phone
				div(class="col-box col-2") 0431417373
			br
			div(class="col-parent edu-item")
				div(class="col-box col-2") Email
				div(class="col-box col-2") mattdsegal@gmail.com
