.page-content(id="edu")
	div(class="row-box row-3 col-parent")
		div(class="col-box col-2")
			.panel(class= "text-panel")
				h1 University		
				p.school-list Bachelor of Mechanical Engineering
				p.school-list Monash University Class of 2013
				p.school-list 1st Class Honours (77.94 / 100)	
		div(class="col-box col-2")
			.panel(class= "text-panel")
				h1 High School 
				p.school-list Scotch College
				p.school-list Class of 2008 
				p.school-list ENTER of 98.40 / 99.95		
	div(class="row-box row-1")
		.panel(class= "text-panel")
			h1 Online Courses via Coursera
			.course-wrapper
				.course
					p.bold Principles of Computing
					p Rice University
					p 9 weeks
				.course-description.
					This course provided a broad introduction to computer science concepts such as recursion, algorithms, graphs and data structures, as well as software development practices such as unit-testing, OOP and style guidelines.

			.course-wrapper
				.course
					p.bold Algorithms
					p Stanford University
					p 6 weeks
				.course-description.
					This course performed a review and analysis of computer science’s’ “greatest-hits” algorithms. It covered topics such as big Oh notation, the master method, sorting,  graphs and hash tables.

			.course-wrapper
				.course
					p.bold Probability
					p University of PA
					p 12 weeks
			.three-course-spacer
			.course-wrapper
				.course
					p.bold Machine Learning
					p Stanford University
					p Ongoing	
			.three-course-spacer
			.course-wrapper
				.course
					p.bold Discrete Optimization
					p Melbourne University
					p Ongoing