.page-content(id="profile")
	div(class="col-box col-2 row-parent" id="profile-text")
		div(class="row-box row-2")
			.panel
				h1 Profile
				.row-parent
					p.profile
						| I am a recent uni graduate who is pursuing a career in web development.
					p.profile.
						My main focus at the moment is to continue improving my skills and to build up a portfolio of work.
					p
						a(href="https://github.com/MattSegal") View my GitHub 
		div(class="row-box row-2")
			.panel(id="references" class="text-panel")
				h1 References
				div(class="col-parent")
					div(class="col-box col-2")
						p.title Work Reference
						p Geoff White
						p Project Engineer
						p Wood and Grieve
						p 0403 318 324
					div(class="col-box col-2")
						p.title Character Reference
						p Dr Jennifer Johns OAM
						p Cardiologist
						p Epworth Richmond
						p 9429 2724
	div(class="col-box col-2", id="profile-image")
		div(class="panel", id="headshot-panel")
			.headshot-image